<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 bg-blue">
  <a class="navbar-brand wh-color fw-size title-size" href="#">Angular Post App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup" >
    <div class="navbar-nav">
      <a class="nav-item nav-link active wh-color text-size" routerLink="posts">Home</a>
      <a class="nav-item nav-link wh-color text-size" href="#">Detail</a>
      <a class="nav-item nav-link wh-color text-size" href="#">Contact us</a>
    </div>
  </div>
</nav>
